* {
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #1b4721;
    color: #FFFFFF;
    text-align: center;
    height: 200px;
   
}

h1 {}

nav {}

#nav_menu ul {
    display: flex;
    flex-basis: 100%;
    justify-content: space-around;
    list-style-type: none;
    background-color: black;
    margin: 0;
    padding: 0;
}


.topcolumns {
    display: table;
    width: 100%;
    background-color: #1d6633;
    border: 5px solid black;
}
.bottomcolumns {
    display: table;
    width: 100%;
    background-color: #1d6633;
    border: 5px solid black;
}

.col {
    display: table-cell;
    padding: 5px 5px 5px 5px;
    border: 2.5px solid black;
    color: #FFFFFF;
}

nav a {
    text-decoration: none;
}

nav a:link {
    color: #fffdfd;
}

nav a:visited {
    color: #ffffff
}

nav a:hover {
    color: #FFFFFF
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    font-size: 1.2em;
}


#homehero {
    background-image: url("lawn_mower.png");
    height: 500px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

main {
    padding: 1px 20px 20px 20px;
    display: block;
    background-color: #bdbdbd;

}

h2 {
    color: #00664D;
    text-shadow: 1px 1px #CCCCCC;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    
}

h3 {
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
}


dt {
    color: #00664D;
}

footer {
    font-size: 75%;
    font-style: italic;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #FFFFFF;
}